.pre-load
  position: fixed
  top: 30%
  right: 60%
  left: 40%
  bottom: 70%
  width: 80%
  background-color: white
  -webkit-animation: affich-loading 3s forwards
  animation: affich-loading 3s forwards
  -webkit-animation-delay: 3s
  animation-delay: 3s

  .loading-message
    font-family: "Roboto", serif
    font-size: 1.5rem
    text-align: center
    width: 80%
    position: fixed
    left: 10%

    .loading-name
      font-family: "Shrikhand", serif
      font-size: 1.5rem

  .spinner
    margin: 100px auto
    width: 60px
    height: 60px
    position: fixed
    left: 45%

    div
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0

div.spinner
  position: relative
  width: 54px
  height: 54px
  display: inline-block

.pre-load div.spinner div
  width: 12%
  height: 26%
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC))
  background: linear-gradient(to left bottom, #FF79DA, #9356DC)
  position: absolute
  left: 44.5%
  top: 37%
  opacity: 0
  -webkit-animation: fade 1s linear infinite
  -webkit-border-radius: 50px
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)

div.spinner div
  &.loading-circle1
    -webkit-transform: rotate(0deg) translate(0, -142%)
    -webkit-animation-delay: 0s

  &.loading-circle2
    -webkit-transform: rotate(30deg) translate(0, -142%)
    -webkit-animation-delay: -0.9167s

  &.loading-circle3
    -webkit-transform: rotate(60deg) translate(0, -142%)
    -webkit-animation-delay: -0.833s

  &.loading-circle4
    -webkit-transform: rotate(90deg) translate(0, -142%)
    -webkit-animation-delay: -0.75s

  &.loading-circle5
    -webkit-transform: rotate(120deg) translate(0, -142%)
    -webkit-animation-delay: -0.667s

  &.loading-circle6
    -webkit-transform: rotate(150deg) translate(0, -142%)
    -webkit-animation-delay: -0.5833s

  &.loading-circle7
    -webkit-transform: rotate(180deg) translate(0, -142%)
    -webkit-animation-delay: -0.5s

  &.loading-circle8
    -webkit-transform: rotate(210deg) translate(0, -142%)
    -webkit-animation-delay: -0.41667s

  &.loading-circle9
    -webkit-transform: rotate(240deg) translate(0, -142%)
    -webkit-animation-delay: -0.333s

  &.loading-circle10
    -webkit-transform: rotate(270deg) translate(0, -142%)
    -webkit-animation-delay: -0.25s

  &.loading-circle11
    -webkit-transform: rotate(300deg) translate(0, -142%)
    -webkit-animation-delay: -0.1667s

  &.loading-circle12
    -webkit-transform: rotate(330deg) translate(0, -142%)
    -webkit-animation-delay: -0.0833s

  &.Loading-circle13
    -webkit-transform: rotate(330deg) translate(0, -142%)
    -webkit-animation-delay: -0.05s

@-webkit-keyframes fade
  from
    opacity: 1

  to
    opacity: 0.25

@keyframes fade
  from
    opacity: 1

  to
    opacity: 0.25

@-webkit-keyframes affich-loading
  from
    opacity: 1

  to
    opacity: 0.25

@keyframes affich-loading
  from
    opacity: 1

  to
    opacity: 0.25

@-webkit-keyframes affich
  0%
    opacity: 0

  80%
    opacity: 0

  100%
    opacity: 1

@keyframes affich
  0%
    opacity: 0

  80%
    opacity: 0

  100%
    opacity: 1

/*type durée et sens de l'animation ici le titre monte au chargement de la page
/*animation sur card-title one,two & three
@-webkit-keyframes card-title
  0%
    -webkit-transform: translateY(20px)
    transform: translateY(20px)
    opacity: 0

  100%
    -webkit-transform: translateY(0px)
    transform: translateY(0px)
    opacity: 1

@keyframes card-title
  0%
    -webkit-transform: translateY(20px)
    transform: translateY(20px)
    opacity: 0

  100%
    -webkit-transform: translateY(0px)
    transform: translateY(0px)
    opacity: 1

/*# sourceMappingURL=animations.css.map