@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* main contenant les deux sections pre-load & content */

body
{
  margin: auto;
  width: 100%;
}
/* section pre-load qui concerne l'affichage de l'animation */
.pre-load {
  position: fixed;
  top: 20%;
  right: 60%;
  left: 40%;
  bottom: 70%;
  width: 80%;
  background-color: white;
  -webkit-animation: affich-loading 3s forwards;
  animation: affich-loading 3s forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.pre-load .loading-message {
  font-family: "Roboto", serif;
  font-size: 1.6rem;
  text-align: center;
  width: 80%;
  position: fixed;
  left: 10%;
  margin-bottom: 120px;
}
.pre-load .loading-message .loading-name {
  font-family: "Shrikhand", serif;
  font-size: 1.5rem;
}
.pre-load .spinner {
  margin: 190px auto;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 45%;
}
.pre-load .spinner div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* section contenant le message qui accompagne l'animation spinner */
/* section de l'animation spinner */
div.spinner {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
}

.pre-load div.spinner div {
  width: 12%;
  height: 26%;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to left bottom, #FF79DA, #9356DC);
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* partie qui concerne les cercles c'est elle qui leur permet de "tourner" */
div.spinner div.loading-circle1 {
  -webkit-transform: rotate(0deg) translate(0, -142%);
  transform: rotate(0deg) translate(0, -142%);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
div.spinner div.loading-circle2 {
  -webkit-transform: rotate(30deg) translate(0, -142%);
  transform: rotate(30deg) translate(0, -142%);
  -webkit-animation-delay: -0.9167s;
  animation-delay: -0.9167s;
}
div.spinner div.loading-circle3 {
  -webkit-transform: rotate(60deg) translate(0, -142%);
  transform: rotate(60deg) translate(0, -142%);
  -webkit-animation-delay: -0.833s;
  animation-delay: -0.833s;
}
div.spinner div.loading-circle4 {
  -webkit-transform: rotate(90deg) translate(0, -142%);
  transform: rotate(90deg) translate(0, -142%);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
div.spinner div.loading-circle5 {
  -webkit-transform: rotate(120deg) translate(0, -142%);
  transform: rotate(120deg) translate(0, -142%);
  -webkit-animation-delay: -0.667s;
  animation-delay: -0.667s;
}
div.spinner div.loading-circle6 {
  -webkit-transform: rotate(150deg) translate(0, -142%);
  transform: rotate(150deg) translate(0, -142%);
  -webkit-animation-delay: -0.5833s;
  animation-delay: -0.5833s;
}
div.spinner div.loading-circle7 {
  -webkit-transform: rotate(180deg) translate(0, -142%);
  transform: rotate(180deg) translate(0, -142%);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
div.spinner div.loading-circle8 {
  -webkit-transform: rotate(210deg) translate(0, -142%);
  transform: rotate(210deg) translate(0, -142%);
  -webkit-animation-delay: -0.41667s;
  animation-delay: -0.41667s;
}
div.spinner div.loading-circle9 {
  -webkit-transform: rotate(240deg) translate(0, -142%);
  transform: rotate(240deg) translate(0, -142%);
  -webkit-animation-delay: -0.333s;
  animation-delay: -0.333s;
}
div.spinner div.loading-circle10 {
  -webkit-transform: rotate(270deg) translate(0, -142%);
  transform: rotate(270deg) translate(0, -142%);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
div.spinner div.loading-circle11 {
  -webkit-transform: rotate(300deg) translate(0, -142%);
  transform: rotate(300deg) translate(0, -142%);
  -webkit-animation-delay: -0.1667s;
  animation-delay: -0.1667s;
}
div.spinner div.loading-circle12 {
  -webkit-transform: rotate(330deg) translate(0, -142%);
  transform: rotate(330deg) translate(0, -142%);
  -webkit-animation-delay: -0.0833s;
  animation-delay: -0.0833s;
}
div.spinner div.Loading-circle13 {
  -webkit-transform: rotate(330deg) translate(0, -142%);
  transform: rotate(330deg) translate(0, -142%);
  -webkit-animation-delay: -0.05s;
  animation-delay: -0.05s;
}

/* content début de l'affichage de la page d'accueil */
.content {
  background-color: #F2F2F2;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: affich 5s;
  animation: affich 5s;
  width: 100%;
}

/* header partie qui reviens sur toutes les pages */
.header-logo {
  text-align: center;
  font-family: "Shrikhand", serif;
  font-size: 2rem;
}

/* partie recherche */
.search {
  background-color: #d9d9d9;
  text-align: center;
  border-top: solid 3px #bfbfbf;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  height: 20px;
}
.search .search-input {
  border: none;
  background-color: #d9d9d9;
  width: 130px;
  height: auto;
  margin: 0 auto;
  font-family: "Roboto", serif;
  font-size: 1rem;
  text-align: center;
}
.search .search-input::-webkit-input-placeholder, .search .search-input:-ms-input-placeholder, .search .search-input::-ms-input-placeholder, .search .search-input::placeholder {
  color: black;
}
.search .search-input:focus::-webkit-input-placeholder, .search .search-input:focus:-ms-input-placeholder, .search .search-input:focus::-ms-input-placeholder, .search .search-input:focus::placeholder {
  color: transparent;
}

/* section de présentation */
.cont-one {
  background-color: #F2F2F2;
  text-align: center;
  padding: 20px 20px;
}
.cont-one .cont-one-booking {
  font-family: "Roboto", serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.cont-one .cont-one-discovery {
  font-family: "Roboto", serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  padding-bottom: 20px;
  width: 80%;
  margin: 0px auto;
}
.cont-one .exploration {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: "Roboto", serif;
  font-size: 1rem;
  border: transparent;
  border-radius: 30px;
  width: auto;
  padding: 10px 20px;
  height: 40px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  -webkit-box-shadow: 4px 4px 9px #cccccc;
  box-shadow: 4px 4px 9px #cccccc;
}
.cont-one .exploration:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#ae80e5));
  background: linear-gradient(to right bottom, #ff93e1, #ae80e5);
  -webkit-box-shadow: 4px 4px 4px #bfbfbf;
  box-shadow: 4px 4px 4px #bfbfbf;
}

/* effet au passage de la souris "ombre blanche sur le bouton et une ombre de contour plus voyante */
/* section qui contient la partie consignes à suivre */
.cont-two .cont-two-how {
  font-family: "Roboto", serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 20px 20px;
}
.cont-two .cont-two-btn {
  border: solid 1px #F2F2F2;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 10px;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  -webkit-box-shadow: 4px 4px 9px #d9d9d9;
  box-shadow: 4px 4px 9px #d9d9d9;
}
.cont-two .cont-two-btn:hover {
  background-color: #ffe9f9;
  -webkit-box-shadow: 4px 4px 4px #d9d9d9;
  box-shadow: 4px 4px 4px #d9d9d9;
}
.cont-two .cont-two-numb {
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  position: absolute;
  left: -5px;
  top: 10px;
  text-align: center;
  color: white;
  font-size: 0.6rem;
}
.cont-two .cont-two-icon {
  padding-right: 50px;
}

/* effet sur l'ombre du contour au hover */
/* cette partie concerne les icone numérotés */
/* cette partie les icones qui se trouvent à côté des icones numérotés */
/* section qui concerne les restaurants */
.cont-three {
  background-color: #F2F2F2;
  width: 100%;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
}
.cont-three .cont-three-which {
  font-family: "Roboto", serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 20px 15px;
}
.cont-three .cont-three-card {
  width: 90%;
  height: 260px;
  border: solid 2px #F2F2F2;
  border-radius: 20px;
  -webkit-box-shadow: 6px 8px 9px #d9d9d9;
  box-shadow: 6px 8px 9px #d9d9d9;
  background-color: white;
  position: relative;
  margin: 20px auto;
}
.cont-three .cont-three-card .menu-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

/* titre */
/* carte restaurant */
/* partie lien de la carte */
/* étiquette nouveau */
.menu-link .new {
  position: absolute;
  padding: 10px 26px;
  background-color: #99e2d0;
  top: 12px;
  right: 12px;
  z-index: 1;
  border-radius: 5px;
  color: #01644c;
}

/* image du restaurant */
.cont-three .cont-three-card .menu-link .cont-three-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.cont-three .cont-three-card .menu-link .cont-three-name {
  font-family: "Roboto", serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0px;
  padding: 0px 10px;
}
.cont-three .cont-three-card .menu-link .cont-three-town {
  font-family: "Roboto", serif;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  padding:0px 10px;
  margin-top: -15px;
}
.cont-three .cont-three-card .cont-three-heart {
  border: none;
  position: absolute;
  right: 20px;
  bottom: 35px;
  color: white;
  background-color: white;
  margin-top: -20px;
}
.cont-three .cont-three-card .cont-three-heart .fa-heart {
  position: absolute;
  left: 3px;
  top: 6px;
  width: 10px;
  height: 10px;
  margin-top: -15px;
}
.cont-three .cont-three-card .cont-three-heart .far {
  font-size: 1rem;
  opacity: 1;
  color: black;
  margin-top: -15px;
}
.cont-three .cont-three-card .cont-three-heart .far:hover {
  display: none;
}
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-one {
  position: absolute;
  left: 0;
  right: 0;
  width: 23px;
  height: 23px;
  background-color: white;
  -webkit-clip-path: url("#cont-three-path-one");
  clip-path: url("#cont-three-path-one");
  opacity: 0;
  margin-top: -15px;
}

/* nom du restaurant */
/* ville du restaurant */
/* partie coeur */
/* icone coeur */
/* icone coeur */
/* icone coeur disparition au hover */
/* partie coeur suite en svg pour le moment non visible */
/* contour noir au coeur */
path {
  border-color: black;
}

/* animation au hover, le remplissage du coeur par un background en linear-gradient */
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-one:hover {
  -webkit-animation: heart 800ms forwards;
  animation: heart 800ms forwards;
  opacity: 1;
}
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-two {
  position: absolute;
  left: 0;
  right: 0;
  width: 23px;
  height: 23px;
  background-color: white;
  -webkit-clip-path: url(#cont-three-path-two);
  clip-path: url(#cont-three-path-two);
  opacity: 0;
  margin-top: -15px;
}
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-two:hover {
  -webkit-animation: heart 800ms forwards;
  animation: heart 800ms forwards;
  opacity: 1;
}
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-three {
  position: absolute;
  left: 0;
  right: 0;
  width: 23px;
  height: 23px;
  background-color: white;
  -webkit-clip-path: url(#cont-three-path-three);
  clip-path: url(#cont-three-path-three);
  opacity: 0;
  margin-top: -15px;
}
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-three:hover {
  -webkit-animation: heart 800ms forwards;
  animation: heart 800ms forwards;
  opacity: 1;
}
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-four {
  position: absolute;
  left: 0;
  right: 0;
  width: 23px;
  height: 23px;
  background-color: white;
  -webkit-clip-path: url(#cont-three-path-four);
  clip-path: url(#cont-three-path-four);
  opacity: 0;
  margin-top: -15px;
}
.cont-three .cont-three-card .cont-three-heart .cont-three-heart-four:hover {
  -webkit-animation: heart 800ms forwards;
  animation: heart 800ms forwards;
  opacity: 1;
}

/* partie footer du site */
footer {
  background-color: #333333;
  color: white;
  padding-bottom: 20px;
}
footer .footer-logo {
  font-family: "Shrikhand", serif;
  font-size: 1.3rem;
  padding: 20px 10px 10px 10px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
footer .footer-link {
  font-family: "Roboto", serif;
  font-size: 1rem;
  margin-left: 10px;
}
footer .footer-menu {
  text-align: left;
}
footer .fas.fa-utensils {
  padding-right: 17px;
}
footer .fas.fa-hands-helping {
  padding-right: 10px;
}
footer .footer-a {
  text-decoration: none;
  color: white;
}

/* animation coeur */
@-webkit-keyframes heart {
  0% {
    background-color: white;
  }
  10% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(10%, #9356DC), color-stop(0%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 10%, white 0%);
  }
  15% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(15%, #9356DC), color-stop(5%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 15%, white 5%);
  }
  20% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(20%, #9356DC), color-stop(10%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 20%, white 10%);
  }
  25% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(25%, #9356DC), color-stop(15%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 25%, white 15%);
  }
  30% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(30%, #9356DC), color-stop(20%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 30%, white 20%);
  }
  35% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(35%, #9356DC), color-stop(25%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 35%, white 25%);
  }
  40% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(40%, #9356DC), color-stop(30%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 40%, white 30%);
  }
  45% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(45%, #9356DC), color-stop(35%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 45%, white 35%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(50%, #9356DC), color-stop(40%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 50%, white 40%);
  }
  55% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(55%, #9356DC), color-stop(45%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 55%, white 45%);
  }
  60% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(60%, #9356DC), color-stop(50%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 60%, white 50%);
  }
  65% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(65%, #9356DC), color-stop(55%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 65%, white 55%);
  }
  70% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(70%, #9356DC), color-stop(60%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 70%, white 60%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(75%, #9356DC), color-stop(65%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 75%, white 65%);
  }
  80% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(80%, #9356DC), color-stop(70%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 80%, white 70%);
  }
  85% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(85%, #9356DC), color-stop(75%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 85%, white 75%);
  }
  90% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(90%, #9356DC), color-stop(80%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 90%, white 80%);
  }
  95% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(95%, #9356DC), color-stop(85%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 95%, white 85%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(100%, #9356DC), color-stop(90%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%, white 90%);
  }
}
@keyframes heart {
  0% {
    background-color: white;
  }
  10% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(10%, #9356DC), color-stop(0%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 10%, white 0%);
  }
  15% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(15%, #9356DC), color-stop(5%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 15%, white 5%);
  }
  20% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(20%, #9356DC), color-stop(10%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 20%, white 10%);
  }
  25% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(25%, #9356DC), color-stop(15%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 25%, white 15%);
  }
  30% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(30%, #9356DC), color-stop(20%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 30%, white 20%);
  }
  35% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(35%, #9356DC), color-stop(25%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 35%, white 25%);
  }
  40% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(40%, #9356DC), color-stop(30%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 40%, white 30%);
  }
  45% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(45%, #9356DC), color-stop(35%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 45%, white 35%);
  }
  50% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(50%, #9356DC), color-stop(40%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 50%, white 40%);
  }
  55% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(55%, #9356DC), color-stop(45%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 55%, white 45%);
  }
  60% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(60%, #9356DC), color-stop(50%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 60%, white 50%);
  }
  65% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(65%, #9356DC), color-stop(55%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 65%, white 55%);
  }
  70% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(70%, #9356DC), color-stop(60%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 70%, white 60%);
  }
  75% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(75%, #9356DC), color-stop(65%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 75%, white 65%);
  }
  80% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(80%, #9356DC), color-stop(70%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 80%, white 70%);
  }
  85% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(85%, #9356DC), color-stop(75%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 85%, white 75%);
  }
  90% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(90%, #9356DC), color-stop(80%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 90%, white 80%);
  }
  95% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(95%, #9356DC), color-stop(85%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 95%, white 85%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), color-stop(100%, #9356DC), color-stop(90%, white));
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%, white 90%);
  }
}
